# Environment files
.env
.env.local
.env.*.local
.venv/
venv/

# node modules and build
node_modules/
build/
dist/

# Videos and Data
outputs/*
!outputs/.gitkeep
uploads/*
!uploads/.gitkeep
media/
data/*.csv
data/*.log
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.jpg
*.jpeg
*.png
*.gif

# C++ Binaries and Objects
backend/Algo
backend/Algo1
*.o
*.out
*.so
*.a

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# model weights
*.weights