flask
flask-cors
flask-restful
flask-limiter
python-dotenv
gunicorn

opencv-python
numpy
scipy
torch
torchvision
ultralytics

Pillow
matplotlib
imageio
imageio-ffmpeg

requests
urllib3
tqdm
psutil
loguru

pytest
pytest-cov
scikit-learn
pandas
